<div class="home-page">
    <h2>Upload files</h2>
    <form onsubmit="submitFile()">
        <input type="file" />
        <button type="submit"></button>
    </form>

    <button>Check uploaded files</button>
</div>