* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* background-color: rgb(14, 56, 83); */
}

.home-page {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* color: #fff !important; */
}

button {
    margin: 2%;
}